/*Note: Only add css that's being used in every page and component*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}
*::selection{
  background-color: #66C7F4;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }