@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
  max-width: 100%;
  overflow-x: hidden;
}

.visible{
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: auto;
  height: 70px;
}

.nav .visible a h1{
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  z-index: 2;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}


.menu{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: beige;
    transition: 0.5s;
}

.menu::before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.listMenu{
    width: 100%;
    height: fit-content;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

.menu ul {
    position: relative;
  }
.menu ul li {
    list-style: none;
    text-align: center;
  }
.menu ul li a {
    font-family: "Inter", sans-serif;
    color: #333;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 800;
    transition: 0.5s;
  }
.menu  ul:hover li a {
    color: #0002;
  }
.menu ul li:hover a {
    color: #000;
    background: transparent;
  }
.menu ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
  }
.menu ul li a:hover:before {
    content: "";
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1500px;
    height: 1500px;
    font-size: 200px;
  }
.menu  ul li:nth-child(6n + 1) a:before {
    background: #0470fe;
  }
.menu  ul li:nth-child(6n + 2) a:before {
    background: #ff7675;
  }
.menu li:nth-child(6n + 3) a:before {
    background: #1582fe;
  }

.nav .menuIcon{
    z-index: 2;
    padding: 28px 20px;
    float: right;
    cursor: pointer;
}

.nav .menuIcon .navIcon{
    display: block;
    width: 18px;
    height: 2px;
    position: absolute;
    transition: background-color .2s ease-out ;
}

.nav .menuIcon .navIcon::before,
.nav .menuIcon .navIcon::after {
    background-color: black;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    transition:  all .2s ease-out;
    position: absolute;
}

.nav .menuBtn{
    display: none;
}

::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 48rem){
  .menu ul li a:before{
    content: attr(data-text);
  }
}
