.containerHome {
    position: static;
    background-color: transparent;
    z-index: 0;
}

.grid {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 0 50px 0;
    max-width: 2290px;
}

.grid a {
    flex: 1 0 50%;
    max-width: 50%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.grid img {
    border-radius: 20px;
    width: 100%;
    transition: 1s ease;
}

.grid img:hover {
    opacity: 100%;
    transform: scale(1.0);
}

@media (min-width: 576px) and (max-width: 991px) {
    .grid a {
        flex: 1 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .grid a {
        flex: 1 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 1200px) {
    .grid a {
        flex-basis: 25%;
        max-width: 25%;
    }

    .grid img:hover {
        transform: scale(1.1);
    }
}

@media (min-width: 48rem) {
    .grid img {
        width: 400px;
    }

    .grid img:hover {
        transform: scale(1.1);
    }
}

.circles .circle1 {
    z-index: -2;
    position: absolute;
    background-color: rgb(20, 70, 44);
    width: 50vw;
    height: 50vw;
    border-radius: 25vw;
    left: -25vw;
    top: 500px;
}

.circles .circle2 {
    z-index: -2;
    position: absolute;
    background-color: rgb(196, 81, 66);
    width: 30vw;
    max-width: 35wh;
    height: 50vw;
    max-height: 55vw;
    border-radius: 30vw 0 0 30vw;
    right: 0;
    top: 900px;
}
