.grid {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 100px;
    
}

.grid img{
    border-radius: 20px;
    width: 90vw;
    transition: 1s ease;
}

.grid img:hover{
    opacity: 100%;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
}

@media (min-width: 48rem) {
   .grid img:hover{
    opacity: 100%;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    }
    .grid img{
        width: 400px;
    }
}